/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: 'Nunito Sans';
    font-size: normal;
    font-weight: medium;
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'),
        url("../fonts/NunitoSans-Regular.woff2") format("woff2"),
        url("../fonts/NunitoSans-Regular.woff") format("woff")
}
@font-face {
    font-family: 'Yeseva One';
    font-size: normal;
    font-weight: medium;
    src: local('Yeseva One Regular'), local('YesevaOne-Regular'),
        url("../fonts/YesevaOne-Regular.woff2") format("woff2"),
        url("../fonts/YesevaOne-Regular.woff") format("woff")
}
html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*,*::before,*::after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
body {
    font-family: Nunito Sans;
    font-weight: 400;
    line-height: normal;
}
h1,h2,h3 {
    font-family: Yeseva One;
    font-weight: 400;
    font-style: normal;
}
.header {
    background: #131313;
}
.сontent_boundaries {
    max-width: 1256px;
    margin: 0 auto;
}
.header__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 83px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header__span_name,
.header__span_tel{
    color: #E3B873;
    font-size: 11px;
    font-style: normal;  
}
.header__span_name {
    text-transform: uppercase;
    width: 179.745px;
    margin-right: 95.47px;
}
.header__span_tel {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    width: 126px;
    margin: 0 45px 0 67.36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
}
.header__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 47px;
    max-width: 581px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.header__item {
    text-decoration: none;
    color: #FFF;
    font-size: 11px;
    font-style: normal;
}
.button-1 {
    color: #FFF;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 11px;
    /*font-style: italic;*/
    font-weight: 400;
    line-height: normal;
}
.header__button {
    padding: 13px 33px;
    border-radius: 2px;
    background: #E3B873;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
            box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    text-transform: uppercase;
}
.main__section_1 {
    background-image: url(../img/png/image\ 4.3.png);
    background-size: cover;
    padding-top: 194px;
    padding-bottom: 208px;
    position: relative;
}
.main__section_1-div1 {
    max-width: 676px;
    position: relative;
    z-index: 1;
    margin-left: 42px;
}
.main__section_1-heading {
    color: #FFF;
    font-size: 40px;
    line-height: 132.825%;
    text-transform: uppercase;
    margin-bottom: 19px;
}
.main__section_1-heading-color {
    color: #E3B873;
}
.main__section_1-text1 {
    color: #FFF;
    font-size: 22px;
    line-height: 163.68%;
    margin-bottom: 21px;
}
.main__section_1-button1 {
    border-radius: 2px;
    background: #E3B873;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.30);
            box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.30);
    margin-right: 20px;
    width: 207px;
    height: 51px
}
.main__section_1-button2 {
    background: none;
    border-radius: 2px;
    border: 1px solid #FFF; 
    width: 207px;
    height: 51px
}
.filtr {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
}
.main__section_2 {
    background: black;
    padding-top: 176px;
    padding-bottom: 416px;
}
.main__section_2-block-inf {
    width: 442px;
    margin-left: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.main__section_2-heading {
    color: #E3B873;
    font-size: 27px;
    line-height: 138.6%;
    text-transform: uppercase;
    margin-bottom: 34px;
}
.main__section_2-div1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
}
.main__section_2-subtitle {
    color: #E3B873;
    font-size: 18px;
    line-height: 138.6%;
    text-transform: uppercase;
}
.main__section_2-p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    line-height: 190.96%;
    margin-bottom: 42px; 
}
.main__section_2-itemtext {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    line-height: 163.68%; 
}
.main__section_2-list-parameters {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
    
}
.main__section_2-list-parameters > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    
}
.main__section_2-list-parameters > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    
}
.main__section_2-list-parameters > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    
}
.main__section_2-list-parameters > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    
}
.main__section_2-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 60.5px;
    margin-top: -69px;
    margin-bottom: 53px;    
}
.main__section_2-list-item {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.30);
    font-size: 14px;
    font-style: normal;
    line-height: 138.6%;
    text-transform: uppercase;
}
.arrows {
    color: white; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    font-size: 30px; 
    gap: 10px;
}
.arrows2 {
    display: none; 
}
.slider {
    width: 679px;
    height: 482px;
    overflow: hidden;   
}
.slides {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.slides > .main__section_2-img {
    scroll-snap-align: start;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 679px;
    height: 482px;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.main__section_2-arrow {
    text-decoration: none;
    color: #eee;
}
.main__section_3-div1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -298px;
}
.main__section_3-h3 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;;
    line-height: 138.6%;
    text-transform: uppercase;
    margin-bottom: 13px;
}
.youtube {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    cursor: pointer;
}
.youtube .play {
    background: url('../img/png/youtube-play-btn.png') no-repeat;
    background-position: 0 -50px;
    background-size: 100% auto;
    position: absolute;
    height: 50px;
    width: 69px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.youtube:hover .play {
    background-position: 0 0;
}
.main__section_3-p {
    color: #363636;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    line-height: 204.6%;
    max-width: 681px;
    margin-top: 34px;
    margin-bottom: 94px;
}
.main__section_3-button {
    font-size: 13px;
    line-height: 204.6%;
    text-transform: uppercase;
    background: #E3B873;
    width: 200px;
    height: 51px;
    border: 1px solid #FFF;
    border-radius: 2px;
    margin-left: 49px;
}
.main__section_3-div2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.main__section_3-input {
    display: block;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    width: 231px;
    color: #363636;
    font-size: 14px;
    line-height: 163.68%;
}
.input3-1 {
    margin-right: 58px;
}
.main__section_3-lb {
    color: rgba(54, 54, 54, 0.50);
    font-size: 13px;
    line-height: 163.68%;
}
.label {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.checkbox{
    display: none;
}
.fake{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.fake::before{
    content:"\2714";
    opacity: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.checkbox:checked + .fake::before{
    opacity: 1;
}
.first-checkbox {
    margin-top: 37px;
}
.text {
    margin-left: 9px;
}
.main__section_4-div1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 148px;
}
.main__section_4-h3 {
    font-size: 20px;
    line-height: 138.6%;
    text-transform: uppercase;
    margin-bottom: 13px;
}
.main__section_4-ToW {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 31px;
    margin-bottom: 124px;
    gap: 30px;
}
.main__section_4-img {
    width: 392px;
    height: 421px;
    position: relative;
}
.main__section_4-ALoW {
    width: 330px;
    height: 286px;
    background:rgb(252, 252, 252);
    padding: 25px 29px 49px 34px;
    margin-bottom: -159px;
    position: absolute;
    z-index: 1;
}
.main__section_4-element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.main__section_4-price-m2 {
    width: 228px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #E3B873;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(227, 184, 115, 0.30);
            box-shadow: 5px 5px 10px 0px rgba(227, 184, 115, 0.30);
    color: #FFF;
    font-family: Yeseva One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    padding: 17px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: -34px;
    margin-top: 23px;
}
.main__section_4-h3-item {
    color: #363636;
    font-size: 18px;
    line-height: 138.6%;
    margin-bottom: 13px;
}
.main__section_4-list {
    color: #959595;
    font-size: 13px;
    height: 178px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.main__section_4-SaA {
    background-image: url(../img/png/image\ 6.1.png);
    background-repeat: no-repeat;
    height: 725px;
    margin-top: 152px;
    margin-bottom: 242px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
}
.main__section_4-LoW-A {
    display: block;
    padding-top: 106px;
}
.main__section_4-div2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.main__section_4-list2{
    counter-reset: myCounter;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 102px;
    width: 374px;
    margin-left: 157px;
}
.main__section_4-list2-item{
    list-style: none;
    color: #363636;
    font-size: 14px;
    line-height: 19px;
}
.main__section_4-list2-item:before {
    counter-increment: myCounter;
    content:counter(myCounter);
    color: white;
    background: #E3B873;
    display: inline-block;
    text-align: center;
    margin: 5px 10px;
    line-height: 26px;
    width: 41px;
    height: 41px;
    border: 8px solid white;
    border-radius: 50%;
}
.main__section_4-application {
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 27px 49px 28px 49px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 506px;
}
.main__section_4-h3-labekl {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    line-height: 143.22%;
    margin-bottom: 39px; 
}
.main__section_4-label {
    color: rgba(255, 255, 255, 0.50);
    font-size: 13px;
    line-height: 163.68%;
    margin-bottom: 48px;
}
.main__section_4-input {
    display: block;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    width: 408px;
    background: transparent;
    margin-top: 7px;
    padding-bottom: 4px;
}
.main__section_4-input::-webkit-input-placeholder {
    color: #FFF;    
}
.main__section_4-input::-moz-placeholder {
    color: #FFF;    
}
.main__section_4-input:-ms-input-placeholder {
    color: #FFF;    
}
.main__section_4-input::-ms-input-placeholder {
    color: #FFF;    
}
.main__section_4-input::placeholder {
    color: #FFF;    
}
.main__section_4-label-ck {
    color: #FFF;
}
.label2 {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FFF;
}
.first-checkbox2 {
    margin-bottom: 39px;
    margin-top: -32px;
    -ms-flex-item-align: start;
        align-self: flex-start;
}
.main__section_4-botton {
    width: 213px;
    height: 51px;
    background: #E3B873;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.15);
            box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.15);
    color: #FFF;
    text-align: center;
    font-size: 13px;
    line-height: 163.68%;
    text-transform: uppercase;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
}
.main__section_4-Piggy_bank {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 160px;
    gap: 25px;
    margin-top: 51px;
    color: #E3B873;
    font-size: 18px;
    line-height: 143.22%;
}
.main__section_5 {
    background-image: url(../img/png/image\ 5.1.png);
    background-size: cover;
    position: relative;
    height: 864px;    
}
.main__section_5-div1 {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.main__section_5-list-img{
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    -ms-grid-columns: 354px 43px 354px;
    grid-template-columns: repeat(2, 354px);
    -ms-grid-rows: 275px 43px 275px;
    grid-template-rows: repeat(2, 275px);
    gap: 43px;
}
.main__section_5-list-img > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.main__section_5-list-img > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.main__section_5-list-img > *:nth-child(3){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.main__section_5-list-img > *:nth-child(4){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}
.main__section_5-grid-item:nth-of-type(1),
.main__section_5-grid-item:nth-of-type(3){
    -ms-grid-row-span: 2;
    grid-row: span 2;
}
.main__section_5-grid-item:nth-of-type(1) {
    margin-top: -41px;
}
.main__section_5-grid-item:nth-of-type(4) {
    margin-top: -76px;
}
.main__section_5-grid-item:nth-of-type(2),
.main__section_5-grid-item:nth-of-type(3){
    margin-top: -113px;
}
.main__section_5-grid-item {
    display: block;
}
.main__section_5-styles {
    width: 411px;
    margin-right: 77px;
    margin-top: 137px;
}
.main__section_5-h2 {
    color: #E3B873;
    font-size: 27px;
    line-height: 138.6%;
    text-transform: uppercase;
    margin-bottom: 47px;
}
.main__section_5-item {
    color: #FFF;
    font-size: 20px;
}
.main__section_5-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px; 
}
.main__section_6-div1 {
    padding-top: 110.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}
.main__section_6-h3 {
    color: #181818;
    font-size: 20px;
    line-height: 138.6%;
    text-transform: uppercase;
    margin-bottom: 13px;
}
.main__section_6-p {
    color: #363636;
    text-align: center;
    font-size: 18px;
    line-height: 163.68%;
    margin-top: 24px;
    margin-bottom: 39px;
}
.main__section_6-BoR {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 54px;
    margin: 39px 0 382px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.main__section_6-feedback-photo-h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #181818;
    font-size: 18px;
    line-height: 127.05%;
    gap: 23px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 22px;
}
.main__section_6-feedback-photo {
    border-radius: 50%;
}
.main__section_6-feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #FFF;
    -webkit-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.04);
    position: relative;
    padding: 24px 32px 0 20px;
}
.main__section_6-feedback-p {
    color: #959595;
    font-size: 13px;
    line-height: 180%;
    margin-bottom: 63px; 
}
.main__section_6-feedback-span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 294px;
    height: 54px;
    background: #E3B873;
    -webkit-box-shadow: 5px 5px 20px 0px rgba(227, 184, 115, 0.50);
            box-shadow: 5px 5px 20px 0px rgba(227, 184, 115, 0.50);
    color: #FFF;
    font-family: Yeseva One;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    padding: 11px 0 11.65px 17.36px;
    margin-bottom: -27px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -20px;
}
.main__section_6-feedback-svg1 {
    margin-right: 15.4px;
}
.main__section_6-feedback-svg2 {
    margin-left: 14px;
    margin-right: 17.3px;
}
.main__section_6-feedback-svg3 {
    margin-right: 15px;
}
.footer {
    background-image: url(../img/png/image\ 7.2.png);
    background-size: cover;
    position: relative;
}
.footer_filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3.47%, rgba(24, 24, 24, 0.90)), to(rgba(24, 24, 24, 0.72)));
    background: -o-linear-gradient(top, rgba(24, 24, 24, 0.90) 3.47%, rgba(24, 24, 24, 0.72) 100%);
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.90) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}
.footer__div1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 1;
}
.footer__div-Question {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #131313;
    padding: 34.4px 181.5px;
    margin-top: -223px;
    margin-bottom: 52px;
}
.footer__div-Question_h3 {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    line-height: 138.6%;
    text-transform: uppercase;
    margin-bottom: 45.8px;
}
.footer__div-Question-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 520px;
    gap: 58px;
}
.footer__label {
    max-height: 45px;
    margin: 0;
    margin-bottom: 49px;
}
.footer__input {
    width: 231px;
}
.footer__input2 {
    width: 517px;
}
.footer__chk {
    margin-top: 0;
    margin-bottom: 50px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.footer__text {
    color: #FFF;
    font-size: 14px;
    line-height: 163.68%;
}
.footer__botton {
    border: none;
    border-radius: 0;
    margin: 0;
}
.footer__h3 {
    color: #E3B873;
    text-align: center;
    font-size: 20px;
    line-height: 138.6%;
    text-transform: uppercase;
    margin-bottom: 26px;
}
.footer__div-mail-instogram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 71px;
    height: 28px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 43px;
}
.footer__header {
    background: #131313;
    position: relative;
    z-index: 1;
    margin-top: 66px; 
}
.main__section_5-list-img2 {
    display: none;
}
.footer__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@media screen and (max-width: 1150px) {
    .header__span_tel {
        display: none;
    }
    .header__span_name {
        margin: 0;
    }
    .header__div {   
        -webkit-box-pack: justify;   
            -ms-flex-pack: justify;   
                justify-content: space-between;
    }
    .main__section_2-div1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .main__section_2-block-inf {
        margin: 0;
        width: auto;
    }
    .main__section_2-list-parameters {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 25px;
    }
    .main__section_4-ToW {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
        -ms-grid-row-align: stretch;
            align-self: stretch;   
    }
    .main__section_4-ToW > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;   
    }
    .main__section_4-ToW > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;   
    }
    .main__section_4-ToW > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;   
    }
    .main__section_4-ToW > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;   
    }
    .main__section_4-element:nth-of-type(3) {
        -ms-grid-column-span: 2;
        grid-column: span 2;
        -ms-grid-row-align: center;
            align-self: center;
        margin-top: 170px;        
    }
    .main__section_4-div2 {
        -ms-flex-pack: distribute;
            justify-content: space-around;
           
    }
    .main__section_4-list2 {
        margin: 0;
    }
    .main__section_4-list2 {
        width: auto;
    }
    .main__section_4-application {
        width: auto;
    }
    .main__section_5-div1 {
        position: relative;
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .main__section_5-list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .main__section_5 {
        height: auto;
    }
    .main__section_5-styles {
        width: auto;
        display:contents;
    }
    .main__section_5-list-img {
        margin-top: 120px;
    }
    .main__section_6-BoR {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
        -ms-grid-row-align: stretch;
            align-self: stretch;    
    }
    .main__section_6-BoR > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;    
    }
    .main__section_6-BoR > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;    
    }
    .main__section_6-BoR > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;    
    }
    .main__section_6-BoR > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;    
    }
    .main__section_6-feedback:nth-of-type(3) {
        -ms-grid-column-span: 2;
        grid-column: span 2;
        -ms-grid-row-align: center;
            align-self: center;    
    }
    .footer__div-Question {
        padding: 20px;
    }
    iframe {
        width: 560px;
        height: 375px;
    }
    #lMU_sPyKRsg {
        width: 560px!important;
        height: 375px!important;    
    }  
}
@media screen and (max-width: 768px) {
    .header__list {
        display: none;
    }
    .header__span_tel {
        display: block;
        margin: 0;
    }
    .header__button {
        display: none;
    }
    .header__span_name {
        margin: 0;
    }
    .header__div {   
        -ms-flex-pack: distribute;   
            justify-content: space-around;
    }
    .main__section_1-div-botton {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 26px;
    }
    .main__section_1-button1 {
        width: auto;
        margin: 0;
    }
    .main__section_1-button2 {
        width: auto;
    }
    .main__section_2-div1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    .arrows {
        display: none;
    }
    .arrows2 {
        color: white; 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex; 
        font-size: 30px; 
        -webkit-box-pack: justify; 
            -ms-flex-pack: justify; 
                justify-content: space-between;
        position: absolute;
        z-index: 1;
        width: 85%;   
    }
    .main__section_2-arrow {
        text-decoration: none;
        color: #eee;
        background-color: #E3B873;
        border-radius: 50%;
        width: 41px;
        font-size: 40px;
        height: 41px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .slides {
        position: relative;
    }
    .slider {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .main__section_2-div2 {
        position: absolute;
        z-index: 1;
        margin-bottom: 80px;
    }
    .main__section_2-heading {
        text-align: center;
    }
    .main__section_2-p {
        text-align: -webkit-center;
    }
    .main__section_2-list {
        gap: 0;
        margin: 0;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .main__section_2-block-inf {
        position: relative;
    }
    .main__section_2-list-parameters {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 522px;
        gap: 0;
    }
    .main__section_3 {
        background-color: #181818;
    }
    .main__section_3-div1 {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    .main__section_3-div2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0 18px;
        width: 100%;
    }
    .main__section_3-lb {
        color: rgba(255, 255, 255, 0.50);
        width: 100%;
        margin-bottom: 63px;
    }
    .main__section_3-input {
        border-bottom: 1px solid #FFF;
        color: #FFF;
        font-size: 14px;
        line-height: 138.72%;
        width: 100%;
        background: transparent;
    }
    .main__section_3-button {
        width: 100%;
        border: 1px solid #FFF;
        border-radius: 0;
        margin: 0;
        margin-top: 43px;
        margin-bottom: -25.5px;
    }
    .first-checkbox {
        color: #FFF;
        position: absolute;
        margin-bottom: 77.5px;
    }
    .main__section_4-div1 {
        padding-bottom: 174px;
    }
    .main__section_4-ToW {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-item-align: stretch;
            -ms-grid-row-align: stretch;
            align-self: stretch;
        gap: 252px;
    }
    .main__section_4-element:nth-of-type(3) {
        margin-top: 0;
    }
    .main__section_4-SaA {
        display: none;
    }
    .main__section_5-div1 {
        position: relative;
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: -150px;
    }
    .main__section_5-list {
        display: none;
    }
    .main__section_5 {
        background-image: none;
        background-size: none;
        height: auto;
    }
    .main__section_5-filtr {
        display: none;
    }
    .main__section_5-styles {
        width: auto;
        display:contents;
    }
    .main__section_5-list-img {
        display: none;
    }
    .main__section_5-list-img2 {
        max-width: 1500px;
        height: 242px;
        position: relative;
        margin-top: 24px;
        display: block;
    }
    .mySlides {
        display: none;
    }
    .main__section_5-grid-item {
        width: 342px!important;
        height: 242px;
    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: 45px;
        margin-top: -20%;
        padding: 10px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        -webkit-transition: 0.6s ease;
        -o-transition: 0.6s ease;
        transition: 0.6s ease;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-radius: 50%;
        background: #E3B873;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .next {
        right: 0;
    }
    .fade {
        -webkit-animation-name: fade;
                animation-name: fade;
        -webkit-animation-duration: 1.5s;
                animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
    .main__section_6 {
        display: none;
    }
    .footer__div1 {
        padding-top: 153px;
        background-color: #131313;
        z-index: 0;
        padding-bottom: 30px;
    }
    .footer {
        background-image: none;
    }
    .footer__chk {
        width: 100%;
    }
    .footer__div-Question {
        padding: 20px;
        margin-top: 0;
        width: 100%;
    }
    .footer__label {
        width: 100%;
        margin-bottom: 63px;
    }
    .footer__input2 {
        width: 100%;
    }
    .footer__div-Question-div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        gap: 0;
    }
    .footer__input {
        width: 100%;
    }
    .footer__header {
        display: none;
    }
    iframe {
        width: 560px;
        height: 375px;
    }
    #lMU_sPyKRsg {
        width: 560px!important;
        height: 375px!important;    
    }  
}