@font-face {
    font-family: 'Nunito Sans';
    font-size: normal;
    font-weight: medium;
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'),
        url("../fonts/NunitoSans-Regular.woff2") format("woff2"),
        url("../fonts/NunitoSans-Regular.woff") format("woff")
}
@font-face {
    font-family: 'Yeseva One';
    font-size: normal;
    font-weight: medium;
    src: local('Yeseva One Regular'), local('YesevaOne-Regular'),
        url("../fonts/YesevaOne-Regular.woff2") format("woff2"),
        url("../fonts/YesevaOne-Regular.woff") format("woff")
}
html {
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body {
    font-family: Nunito Sans;
    font-weight: 400;
    line-height: normal;
}
h1,h2,h3 {
    font-family: Yeseva One;
    font-weight: 400;
    font-style: normal;
}
.header {
    background: #131313;
}
.Ñontent_boundaries {
    max-width: 1256px;
    margin: 0 auto;
}
.header__div {
    display: flex;
    height: 83px;
    justify-content: center;
    align-items: center;
}
.header__span_name,
.header__span_tel{
    color: #E3B873;
    font-size: 11px;
    font-style: normal;  
}
.header__span_name {
    text-transform: uppercase;
    width: 179.745px;
    margin-right: 95.47px;
}
.header__span_tel {
    text-decoration-line: underline;
    width: 126px;
    margin: 0 45px 0 67.36px;
    display: flex;
    justify-content: end;
}
.header__list {
    list-style: none;
    display: flex;
    gap: 47px;
    max-width: 581px;
    justify-content: center;
}
.header__item {
    text-decoration: none;
    color: #FFF;
    font-size: 11px;
    font-style: normal;
}
.button-1 {
    color: #FFF;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 11px;
    /*font-style: italic;*/
    font-weight: 400;
    line-height: normal;
}
.header__button {
    padding: 13px 33px;
    border-radius: 2px;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    text-transform: uppercase;
}
.main__section_1 {
    background-image: url(../img/png/image\ 4.3.png);
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    padding-top: 194px;
    padding-bottom: 208px;
    position: relative;
}
.main__section_1-div1 {
    max-width: 676px;
    position: relative;
    z-index: 1;
    margin-left: 42px;
}
.main__section_1-heading {
    color: #FFF;
    font-size: 40px;
    line-height: 132.825%;
    text-transform: uppercase;
    margin-bottom: 19px;
}
.main__section_1-heading-color {
    color: #E3B873;
}
.main__section_1-text1 {
    color: #FFF;
    font-size: 22px;
    line-height: 163.68%;
    margin-bottom: 21px;
}
.main__section_1-button1 {
    border-radius: 2px;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.30);
    margin-right: 20px;
    width: 207px;
    height: 51px
}
.main__section_1-button2 {
    background: none;
    border-radius: 2px;
    border: 1px solid #FFF; 
    width: 207px;
    height: 51px
}
.filtr {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
}
.main__section_2 {
    background: black;
    padding-top: 176px;
    padding-bottom: 416px;
}
.main__section_2-block-inf {
    width: 442px;
    margin-left: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main__section_2-heading {
    color: #E3B873;
    font-size: 27px;
    line-height: 138.6%;
    text-transform: uppercase;
    margin-bottom: 34px;
}
.main__section_2-div1 {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.main__section_2-subtitle {
    color: #E3B873;
    font-size: 18px;
    line-height: 138.6%;
    text-transform: uppercase;
}
.main__section_2-p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    line-height: 190.96%;
    margin-bottom: 42px; 
}
.main__section_2-itemtext {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    line-height: 163.68%; 
}
.main__section_2-list-parameters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
}
.main__section_2-list {
    list-style: none;
    display: flex;
    gap: 60.5px;
    margin-top: -69px;
    margin-bottom: 53px;    
}
.main__section_2-list-item {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.30);
    font-size: 14px;
    font-style: normal;
    line-height: 138.6%;
    text-transform: uppercase;
}
.slider {
    width: 679px;
    height: 482px;
    overflow: hidden;   
}
.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.slides > .main__section_2-img {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 679px;
    height: 482px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__section_2-arrow {
    text-decoration: none;
    color: #eee;
}
.main__section_3-div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -298px;
}
.main__section_3-h3 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;;
    line-height: 138.6%;
    text-transform: uppercase;
    margin-bottom: 13px;
}
.youtube {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all 200ms ease-out;
    cursor: pointer;
}
.youtube .play {
    background: url('../img/png/youtube-play-btn.png') no-repeat;
    background-position: 0 -50px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    position: absolute;
    height: 50px;
    width: 69px;
    transition: none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.youtube:hover .play {
    background-position: 0 0;
}
.main__section_3-p {
    color: #363636;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    line-height: 204.6%;
    max-width: 681px;
    margin-top: 34px;
    margin-bottom: 94px;
}
.main__section_3-button {
    font-size: 13px;
    line-height: 204.6%;
    text-transform: uppercase;
    background: #E3B873;
    width: 200px;
    height: 51px;
    border: 1px solid #FFF;
    border-radius: 2px;
    margin-left: 49px;
}
.main__section_3-div2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main__section_3-input {
    display: block;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    width: 231px;
    color: #363636;
    font-size: 14px;
    line-height: 163.68%;
}
.input3-1 {
    margin-right: 58px;
}
.main__section_3-lb {
    color: rgba(54, 54, 54, 0.50);
    font-size: 13px;
    line-height: 163.68%;
}
.label {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.checkbox{
    display: none;
}
.fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}
.fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
.checkbox:checked + .fake::before{
    opacity: 1;
}
.first-checkbox {
    margin-top: 37px;
}
.text {
    margin-left: 9px;
}
.main__section_4-div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 148px;
    padding-bottom: 242px;
}
.main__section_4-h3 {
    font-size: 20px;
    line-height: 138.6%;
    text-transform: uppercase;
    margin-bottom: 13px;
}
.main__section_4-ToW {
    display: flex;
    margin-top: 31px;
    margin-bottom: 124px;
    gap: 30px;
}
.main__section_4-img {
    width: 392px;
    height: 421px;
    position: relative;
}
.main__section_4-ALoW {
    width: 330px;
    height: 286px;
    background:rgb(252, 252, 252);
    padding: 25px 29px 49px 34px;
    margin-bottom: -159px;
    position: absolute;
    z-index: 1;
}
.main__section_4-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.main__section_4-price-m2 {
    width: 228px;
    display: flex;
    background: #E3B873;
    box-shadow: 5px 5px 10px 0px rgba(227, 184, 115, 0.30);
    color: #FFF;
    font-family: Yeseva One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    padding: 17px 0;
    justify-content: center;
    margin-left: -34px;
    margin-top: 23px;
}
.main__section_4-h3-item {
    color: #363636;
    font-size: 18px;
    line-height: 138.6%;
    margin-bottom: 13px;
}
.main__section_4-list {
    color: #959595;
    font-size: 13px;
    height: 178px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main__section_4-SaA {
    background-image: url(../img/png/image\ 6.1.png);
    background-repeat: no-repeat;
    height: 725px;
    margin-top: 152px;
    margin-bottom: 242px;
    align-self: stretch;
}
.main__section_4-LoW-A {
    display: block;
    padding-top: 106px;
}
.main__section_4-div2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main__section_4-list2{
    counter-reset: myCounter;
    display: flex;
    flex-direction: column;
    gap: 102px;
    width: 374px;
    margin-left: 157px;
}
.main__section_4-list2-item{
    list-style: none;
    color: #363636;
    font-size: 14px;
    line-height: 19px;
}
.main__section_4-list2-item:before {
    counter-increment: myCounter;
    content:counter(myCounter);
    color: white;
    background: #E3B873;
    display: inline-block;
    text-align: center;
    margin: 5px 10px;
    line-height: 26px;
    width: 41px;
    height: 41px;
    border: 8px solid white;
    border-radius: 50%;
}
.main__section_4-application {
    background: black;
    display: flex;
    flex-direction: column;
    padding: 27px 49px 28px 49px;
    align-items: center;
    width: 506px;
}
.main__section_4-h3-labekl {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    line-height: 143.22%;
    margin-bottom: 39px; 
}
.main__section_4-label {
    color: rgba(255, 255, 255, 0.50);
    font-size: 13px;
    line-height: 163.68%;
    margin-bottom: 48px;
}
.main__section_4-input {
    display: block;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    width: 408px;
    background: transparent;
    margin-top: 7px;
    padding-bottom: 4px;
}
.main__section_4-input::placeholder {
    color: #FFF;    
}
.main__section_4-label-ck {
    color: #FFF;
}
.label2 {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #FFF;
}
.first-checkbox2 {
    margin-bottom: 39px;
    margin-top: -32px;
    align-self: flex-start;
}
.main__section_4-botton {
    width: 213px;
    height: 51px;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.15);
    color: #FFF;
    text-align: center;
    font-size: 13px;
    line-height: 163.68%;
    text-transform: uppercase;
    align-self: end;
}
.main__section_4-Piggy_bank {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 160px;
    gap: 25px;
    margin-top: 51px;
    color: #E3B873;
    font-size: 18px;
    line-height: 143.22%;
}  